{embed="site/header" entry_title="{exp:channel:entries}{title}{/exp:channel:entries}"}
<body class="publishing">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav pull-right">
					<li><a href="/">home</a></li>
					<li class="divider-vertical"></li>
					<li class="active"><a href="/publishing.html">publishing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">print collateral &amp; marketing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">website design</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">identity, illustration &amp; icons</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">about</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">contact</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="container">
	{exp:channel:entries channel="portfolio_entry" limit="1" category="1"}
	<div class="page-header">
		<h1>{title}</h1>
	</div>
{embed="site/interior-nav-publishing"}
	<div class="row">
		<div class="span7">
			<div class="interior-images">
				{entry_medium_image_1 wrap="image"}
			</div>
		</div>
		<div class="span5">
			{entry_blurb}
		</div>
	</div>
	{/exp:channel:entries}
	<!-- slideshow -->
{embed="site/bottom"}