{embed="site/header" entry_title="{exp:channel:entries}{title}{/exp:channel:entries}"}
<body class="publishing">
{embed="site/topnav"}
<div class="container">
	{exp:channel:entries channel="portfolio_entry" limit="1" category="1" status="not Closed"}
	<div class="page-header">
		<h1>{title}</h1>
	</div>
	{embed="site/interior-nav-publishing" entry_url="{url_title}"}
	<div class="row">
		<div class="span7">
			<div class="interior-images">
				{entry_medium_image_1 wrap="image"}
			</div>
		</div>
		<div class="span5">
			{entry_blurb}
		</div>
	</div>
	{/exp:channel:entries}
	<!-- slideshow -->
{embed="site/bottom"}