{exp:channel:entries channel="portfolio_entry" limit="1" category="3" status="not Closed" {if segment_2}require_entry="yes"{/if}}
{if no_results}{redirect="404"}{/if}
{embed="site/header" entry_title="{title}"}
<body class="publishing">
{embed="site/topnav"}
<div class="container">	
	<div class="page-header">
		<h1><a href="/">Betsy Seff</a></h1>
	</div>
	<h2>{title}</h2>
	{embed="website-design/interior-nav" entry_url="{url_title}"}
	<div class="row">
		<div class="span7">
			<div class="interior-images">
				<!-- This needed a bug fix - http://expressionengine.com/bug_tracker/bug/17450 -->
				{if entry_image_1_link}
					<a href="{entry_image_1_link}" target="_blank">{entry_medium_image_1 wrap="image"}</a>
				{if:elseif entry_large_image_1}
					<a href="{entry_large_image_1}{url}{/entry_large_image_1}">{entry_medium_image_1 wrap="image"}</a>
				{if:else}
					{entry_medium_image_1 wrap="image"}
				{/if}
				{if entry_medium_image_2}
					{if entry_image_2_link}
						<a href="{entry_image_2_link}" target="_blank">{entry_medium_image_2 wrap="image"}</a>
					{if:elseif entry_large_image_2}
						<a href="{entry_large_image_2}{url}{/entry_large_image_2}">{entry_medium_image_2 wrap="image"}</a>
					{if:else}
						{entry_medium_image_2 wrap="image"}
					{/if}
				{/if}
			</div>
		</div>
		<div class="span5">
			{entry_blurb}
		</div>
	</div>
{/exp:channel:entries}
{embed="site/bottom"}