{embed="site/header" entry_title="Home"}
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav pull-right">
					<li class="active"><a href="/">home</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/publishing.html">publishing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">print collateral &amp; marketing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">website design</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">identity, illustration &amp; icons</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">about</a></li>
					<li class="divider-vertical"></li>
					<li><a href="#">contact</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="page-header">
		<h1>Betsy Seff</h1>
	</div>
	<!-- slideshow -->
	<div id="home-carousel" class="carousel">
		<!-- Carousel items -->
		<div class="carousel-inner">
			{exp:channel:entries channel="portfolio_entry"}
			{if entry_show_on_homepage == "Yes"}
			<!-- use category tags to generate link to detail page -->
			<div class="item{if count == 1} active{/if}">{entry_homeimage wrap="image"}</div>
			{/if}
			{/exp:channel:entries}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
	</div>
	<div id="home-carousel-thumbs" class="clearfix">
		{exp:channel:entries channel="portfolio_entry"}
		{if entry_show_on_homepage == "Yes"}
		<div class="item{if count == 1} active{/if}"><a href="#">{entry_thumbnail wrap="image"}</a></div>
		{/if}
		{/exp:channel:entries}
	</div>
	
{embed="site/bottom"}