{embed="site/header"}
<body>
{embed="site/topnav"}
<div class="container">
	<div class="page-header">
		<h1>Betsy Seff</h1>
	</div>
	<!-- slideshow -->
	<div id="home-carousel" class="carousel">
		<!-- Carousel items -->
		<div class="carousel-inner">
			{exp:channel:entries channel="portfolio_entry" status="Homepage featured"}
			<!-- {categories limit="1"}{category_url_title}/{url_title}{/categories}"><br /> -->
			<!-- use category tags to generate link to detail page -->
			<div class="item{if count == 1} active{/if}"><a href="/{categories limit="1"}{category_url_title}/{url_title}{/categories}">{entry_homeimage wrap="image"}</a></div>
			{/exp:channel:entries}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#home-carousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#home-carousel" data-slide="next">&rsaquo;</a>
	</div>
	<div id="home-carousel-thumbs" class="clearfix">
		{exp:channel:entries channel="portfolio_entry" status="Homepage featured"}
		<div class="item{if count == 1} active{/if}"><a href="#">{entry_thumbnail wrap="image"}</a></div>
		{/exp:channel:entries}
	</div>
	
{embed="site/bottom"}