<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<ul class="nav pull-right">
					<li><a href="/">home</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/publishing/">publishing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/print-collateral-and-marketing/">print collateral &amp; marketing</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/website-design/">website design</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/identity-illustration-and-icons/">identity, illustration &amp; icons</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/about/">about</a></li>
					<li class="divider-vertical"></li>
					<li><a href="/contact/">contact</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>